<ion-header>
  <ion-toolbar>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >      
    <ion-item-sliding  *ngFor="let tenis of listaTenis">

      
    <ion-item (click)="actionMetod(tenis)">
      <!--Bolinha Branca-->
      <ion-icon name="heart-outline" *ngIf="!tenis.favorito"></ion-icon>
      <ion-label *ngIf="!tenis.favorito"><strong> {{tenis.tenis}} </strong> R$ {{tenis.valor}} </ion-label>

      <!--Bolinha Verde-->
      <ion-icon name="heart" color="success" *ngIf="tenis.favorito"></ion-icon>
      
      <ion-label *ngIf="tenis.favorito"><strong> {{tenis.tenis}} </strong> R$ {{tenis.valor}} </ion-label>
      <ion-thumbnail slot="start">
        <img [src]="tenis.imagem"/>
      </ion-thumbnail>
    </ion-item>
    
    </ion-item-sliding>
  
  </ion-list>

</ion-content>
